{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/icons.css' %}">
    <script type="text/javascript" src="{% static 'js/base_script.js' %}"></script>

    {% block head  %}

    {% endblock %}

</head>
<body>

<div class="head">
    <div class="head-content horizontal-container">
        <div class="logo">
            <span class="text-logo-part-1">Swipe</span><span class="text-logo-part-2">Menu</span>
        </div>
        <nav class="nav-menu horizontal-container">
            <a href="/catalog" class="nav-item">Каталог</a>
            <a href="/shorts" class="nav-item">Истории</a>

            {% if user.is_authenticated %}
                {% if user.role == 2 %}

                    {% if user.have_brand %}
                        <a href="/orders-for-owner" class="nav-item">Заказы</a>
                        <a href="/edit-brand" class="nav-item">Мое&nbsp;заведение</a>
                    {% else %}
                        <a href="/create-brand" class="nav-item">Создать&nbsp;заведение</a>
                    {% endif %}

                {% else %}
                    <a href="/orders-for-user" class="nav-item">Заказы</a>
                {% endif %}

            <a href="/logout" class="nav-item profile-text">{{ user.username }}</a>

            {% else %}

                <a href="/login" class="nav-item">Войти</a>
                <a href="/register" class="nav-item">Зарегистрироваться</a>

            {% endif %}
        </nav>
    </div>
</div>

{% block content  %}

{% endblock %}

</body>
</html>