{% extends  "base.html" %}

{% load static %}

{% block head  %}
<link type="text/css" rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content  %}


<br><br>
<div class="container">
    <div class="brands-container">
        {% for brand in brands %}
        <div class="brand-container">
            <div class="flex brand-header">
                <img class="brand-avatar" src="{{ brand.avatar.url }}">
                <a href="/brand/{{brand.id}}" class="brand-title">{{ brand.title }}</a>
            </div>

            <div class="flex brand-content">
                {% for product in brand.get_product_5 %}

                <a href="/brand/{{brand.id}}" class="product">
                    <img src="{{ product.image.url }}">
                    <span class="product-title">{{ product.title | truncatechars:15}}</span>
                    <span class="product-composition">{{ product.composition | truncatechars:24 }}</span>
                    <span class="product-price">{{ product.get_price }}<span class="rub">₽</span></span>
                </a>

                {% endfor %}
            </div>
            <br>

<!--            <div class="flex brand-info">-->
<!--                <button class="like-button"></button>-->
<!--                <span>1276</span>-->
<!--            </div>-->
        </a>
        {% endfor %}
    </div>


</div>


{% endblock %}

