{% extends  "base.html" %}

{% load static %}


{% block head  %}

<link type="text/css" rel="stylesheet" href="{% static 'css/orders.css' %}">
<script type="text/javascript" src="{% static 'js/owner_orders.js' %}"></script>

{% endblock %}

{% block content  %}


<div class="enter-5"></div>
<div class="container">
    {% csrf_token %}
    <div class="orders">
        <h4>Ваши заказы</h4>
        {% for order in orders %}
        <div class="order">
            <div class="flex">
                <div>
                    <div class="order-number">Заказ #{{order.this.order_number}}
                        <small>({{order.this.get_type}})</small></div>
                    <div class="extra-info">Создан: {{order.this.get_created_date}}</div>
                </div>


                <div class="brand">
                    <span class="brand-title"><small>от</small> {{ order.this.user.username }}</span>
                    <img src="{{ order.this.user.get_avatar_url }}">
                </div>

            </div>

            <hr>

            <div class="check">
                {% for item in order.items %}
                <div class="check-tr">
                    <span class="check-td title">{{item.product.title}}</span>
                    <span class="check-td price"><b>{{item.quantity}}</b>шт x <b>{{item.product.get_price}}</b>₽ = <b>{{item.sum}}</b>₽</span>
                </div>
                {% endfor %}

                <hr>
                <div class="check-tr">
                    <span class="check-td title">ИТОГО:</span>
                    <span class="check-td price"><b>{{order.this.get_sum}}</b>₽</span>
                </div>
            </div>

            <div id="status-{{order.this.id}}" class="status">
                <button onclick="set_state({{order.this.id}}, 1)" class="status-state {% if order.this.order_status > 0 %} active {% endif %}"><p>Принято</p></button>
                <button onclick="set_state({{order.this.id}}, 2)" class="status-state {% if order.this.order_status > 1 %} active {% endif %}"><p>В&nbsp;процессе</p></button>
                <button onclick="set_state({{order.this.id}}, 3)" class="status-state {% if order.this.order_status > 2 %} active {% endif %}"><p>Готово</p></button>
                <button onclick="set_state({{order.this.id}}, 4)" class="status-state {% if order.this.order_status > 3 %} active {% endif %}}"><p>Завершен</p></button>
            </div>

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

