{% extends  "base.html" %}

{% load static %}


{% block head  %}

<link type="text/css" rel="stylesheet" href="{% static 'css/orders.css' %}">
<script type="text/javascript" src="{% static 'js/brand.js' %}"></script>

{% endblock %}

{% block content  %}


<div class="enter-5"></div>
<div class="container">

    <div class="orders">
        <h4>Ваши заказы</h4>
        {% for order in orders %}
            <div class="order">
                <div class="flex">
                    <div>
                        <div class="order-number">Заказ #{{order.this.order_number}} <small>({{order.this.get_type}})</small></div>
                        <div class="extra-info">Создан: {{order.this.get_created_date}}</div>
                    </div>


                    <div class="brand">
                        <span class="brand-title">{{order.this.brand.title}}</span>
                        <img src="{{ order.this.brand.avatar.url }}">
                    </div>

                </div>

                <hr>

                <div class="check">
                    {% for item in order.items %}
                    <div class="check-tr">
                        <span class="check-td title">{{item.product.title}}</span>
                        <span class="check-td price"><b>{{item.quantity}}</b>шт x <b>{{item.product.get_price}}</b>₽ = <b>{{item.sum}}</b>₽</span>
                    </div>
                    {% endfor %}

                    <hr>
                    <div class="check-tr">
                        <span class="check-td title">ИТОГО:</span>
                        <span class="check-td price"><b>{{order.this.get_sum}}</b>₽</span>
                    </div>
                </div>

                <div class="status">
                    <div class="status-state {% if order.this.order_status > 0 %} active {% endif %}"><p>Принято</p></div>
                    <div class="status-state {% if order.this.order_status > 1 %} active {% endif %}"><p>В процессе</p></div>
                    <div class="status-state {% if order.this.order_status > 2 %} active {% endif %}"><p>Готово</p></div>
                    <div class="status-state {% if order.this.order_status > 3 %} active {% endif %}"><p>Завершен</p></div>
                </div>

            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

